/* Right-pointing arrow */
.arrow_next {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-bottom: 5px hidden;
    border-left: 5px hidden;
    border-right: 5px solid;
    border-left-color: black;
    padding: 1em;
    margin-right: 2em;
    transform: rotate(45deg);
}

/* Next arrow button hover effect */
.arrow_next:hover {
    transform: rotate(45deg) scale(1.15);
}

/* Left-pointing arrow */
.arrow_previous {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px hidden;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px hidden;
    border-left-color: black;
    padding: 1em;
    margin-left: 2em;
    transform: rotate(45deg);
}

/* Previous arrow button hover effect */
.arrow_previous:hover {

    transform: rotate(45deg) scale(1.15);
}