/* Main body styling with light blue background and cursive font */
body {
  background-color: #bae6fc;
}

#contacts_ui_spacing {
    margin-top: 20vh; 
    margin-left: 5vw;
}

.contacts_socialmedia_icon {
    height: 5vh;
    width: 5vh;
    margin: auto;
}

.contacts_socialmedia_info {
    align-items: center;
    list-style: none;
}

.contacts_socialmedia_text {
    margin: auto;
}

.contacts_socialmedia_pair {
    display: inline-flex;
    text-align: center;
    text-justify: center;
    align-content: center;
    gap: 1vw;
    margin-left: 0.5vw;
}

li:before {
    content: "\2605";
    color: rgb(45, 119, 51);
}

/* Form header styling */
#form_header {
    font-size: 30px;
    padding-left: 1em;
}

/* Main form container layout */
#form_overall_container_layout {
    display: block;
    margin-left: 5vw;
    margin-top: 0.5em;
}

/* Individual form row layout with flex alignment */
.form_div_layout {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

/* Form label text styling with fixed width for alignment */
.form_text_style {
    font-size: 18px;
    min-width: 30%;
}

/* Form input field styling with consistent sizing */
.form_input_style {
    flex: 1;
    max-width: 400px;
    min-width: 200px;

    padding: 10px;
    font-size: 16px;

    /* Include padding in height calculation,
    Note: Was the only way to get the drop down box to match same size as the other input fields */
    box-sizing: border-box;

}

/* Form button styling for submit and reset actions */
.form_button_style {
    font-size: 18px;
    margin-top: 0.5em;
    padding-left: 0px;
    min-width: 150px;
    min-height: 40px;
}

@media (max-width: 600px) {
    /* Adjust form layout for small screens */
    #form_overall_container_layout {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .form_div_layout {
        flex-direction: column;
        align-items: stretch;
    }

    .form_text_style {
        min-width: auto;
        margin-bottom: 0.5em;
    }

    #contacts_ui_spacing {
        margin-left: 0vw;
    }

    .contacts_socialmedia_text {
        font-size: 14px;
    }

    .contacts_socialmedia_icon {
        height: 3vh;
        width: 3vh;
    }
}
