.contacts_socialmedia_icon {
    height: 5vh;
    width: 5vh;
    margin: auto;
}

.contacts_socialmedia_info {
    align-items: center;
    gap: 1vw;
    list-style-type: circle;
    list-style-image: url("../../static/chibi-anime-girl-bulletpoint.png");
}

.contacts_socialmedia_text {
    margin: auto;
}

.contacts_socialmedia_pair {
    display: inline-flex;
    text-align: center;
    text-justify: center;
    align-content: center;
    gap: 1vw;
}