/* Main body styling with light blue background and cursive font */
body {
  background-color: #79edff70;
  font-family: cursive;
}

.contacts_socialmedia_icon {
    height: 5vh;
    width: 5vh;
    margin: auto;
}

.contacts_socialmedia_info {
    align-items: center;
    gap: 1vw;
    list-style-type: circle;
    /* list-style-image: url("../../static/chibi-anime-girl-bulletpoint.png"); */
}

.contacts_socialmedia_text {
    margin: auto;
}

.contacts_socialmedia_pair {
    display: inline-flex;
    text-align: center;
    text-justify: center;
    align-content: center;
    gap: 1vw;
}

/* Form header styling */
#form_header {
    font-family: cursive;
    font-size: 30px;
    padding-left: 1em;
}

/* Main form container layout */
#form_overall_container_layout {
    display: block;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

/* Individual form row layout with flex alignment */
.form_div_layout {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

/* Form label text styling with fixed width for alignment */
.form_text_style {
    font-family: cursive;
    font-size: 18px;
    min-width: 30%;
}

/* Form input field styling with consistent sizing */
.form_input_style {
    flex: 1;
    max-width: 400px;
    min-width: 200px;

    padding: 10px;
    font-family: cursive;
    font-size: 16px;

    /* Include padding in height calculation,
    Note: Was the only way to get the drop down box to match same size as the other input fields */
    box-sizing: border-box;

}

/* Form button styling for submit and reset actions */
.form_button_style {
    font-family: cursive;
    font-size: 18px;
    margin-top: 0.5em;
    padding-left: 0px;
    min-width: 150px;
    min-height: 40px;
}