/* Main website body styles */
body {
    margin: 0;
    background-color: #79edff70;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Featured series banner at top of homepage */
.series__block {
    height: 95vh;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../static/general_ui_images/one_piece.png') center/cover no-repeat;
}

/* Text container within featured series banner */
.series__block_info {
    position: absolute;
    left: 15%;
    color: rgba(255, 255, 255, 0.955);
}

/* Main title in featured series banner */
.series__block_info h1 {
    font-size: 40px;
    margin-top: 4em;
    color: white;
}

/* Description text in featured series banner */
.series__block_info p {
    font-size: 20px;
    width: 50vw;
    margin-top: 5em;
    color: white;
}

/* Layout container for image slider with navigation arrows */
.slider_layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

/* Horizontal container for slider items with scrolling */
.slider_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    gap: 2em;
    overflow-x: auto;
}

/* Fixed dimensions for slider images */
.slider_image_format {
    width: 250px;
    height: 300px;
    border: solid black 8px;
}

/* Right-pointing arrow */
.arrow_next {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-bottom: 5px hidden;
    border-left: 5px hidden;
    border-right: 5px solid;
    border-left-color: black;
    padding: 1em;
    margin-right: 2em;
    transform: rotate(45deg);
}

/* Left-pointing arrow */
.arrow_previous {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px hidden;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px hidden;
    border-left-color: black;
    padding: 1em;
    margin-left: 2em;
    transform: rotate(45deg);
}

/* Main heading above the image slider */
.main_slider_header {
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    padding-top: 1.5em;
}

/* Secondary heading style */
.sub_heading {
    font-size: 25px;
}

/* Paragraph text style */
.sub_paragraph {
    font-size: 18px;
}