/* Main navigation bar container using flexbox layout */
.nav_bar_layout {
    background-color: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block: 1em;
    padding-left: 2em;
    padding-right: 2em;

    /* Pinning navigation bar to the top of the page */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    /* Personal note: This ensure nothing is ever in front of the navigation bar*/
}

/* Homepage button container with specific dimensions */
#homepage_button {
    padding: 0.5em;
    width: 15em;
    height: 4em;
}

/* Homepage button image styling with purple border */
#homepage_button_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 3em;
}

/* Individual navigation buttons (About, Contact, etc.) */
.navbar_other_buttons {
    justify-content: center;
    display: inline-block;
    border: solid white;
    border-radius: 2em;
    padding-inline: 0.5em;
    margin-inline: 1em;
    width: 8em;
    height: 2.5em;
    line-height: 2.5em;
    color: white;
    font-family: cursive;
    font-size: 16px;
}

/* Circular profile button at the end of navigation */
#profile_button {
    color: white;
    font-family: cursive;
    font-size: 16px;
    border: solid white;
    padding: 2em;
    border-radius: 50%;
}

/* Footer container that sticks to bottom of page */
.footer {
    position: relative;
    /* Pushes footer to bottom in flex layouts */
    margin-top: auto;
    margin-bottom: 0;
}

/* Footer links so they will not be highlighted */
.footer a {
    text-decoration: none;
    color: black;
}

/* Main footer text area container */
.footer_main_text_container {
    position: relative;
    height: 10vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Individual text lines in footer */
.footer_main_text {
    font-family: cursive;
    text-align: center;
    line-height: 2vh;
}

/* Container for date and social media logos */
.footer_datelogos_container {
    margin: auto;
    height: 5vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Social media icons container aligned to right */
.footer_logos_container {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;
    margin-left: auto;
    margin-right: 0;
    gap: 2vw;
}

/* Last updated date text styling */
.footer_date_text {
    font-family: cursive;
    height: 5vh;
    width: 20vw;
    margin-top: 5vh;
    text-align: center;
}

/* Social media icon sizing */
.footer_socialmedia_icon {
    height: 5vh;
    width: 5vh;
    margin: auto;
}