/* Main navigation bar container using flexbox layout */
.nav_bar_layout {
    background-color: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block: 1em;
    padding-left: 2em;
    padding-right: 2em;

    /* Pinning navigation bar to the top of the page */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    /* Personal note: This ensure nothing is ever in front of the navigation bar*/
}

/* Homepage button container with specific dimensions */
#homepage_button {
    padding: 0.5em;
    width: 15em;
    height: 4em;
}

/* Homepage button image styling with purple border */
#homepage_button_img {
    width: 100%;
    height: 100%;
    border-radius: 3em;
}

/* Individual navigation buttons (About, Contact, etc.) */
.navbar_other_buttons {
    justify-content: center;
    display: inline-block;
    border: solid white;
    border-radius: 2em;
    padding-inline: 0.5em;
    margin-inline: 1em;
    width: 8em;
    height: 2.5em;
    line-height: 2.5em;
    color: white;
    font-size: 16px;
}

/* Circular profile button at the end of navigation */
#profile_button {
    color: white;
    font-size: 16px;
    border: solid white;
    padding: 2em;
    border-radius: 50%;
}